.animate-spin {
    -moz-animation: spin 2s infinite linear;
    -o-animation: spin 2s infinite linear;
    -webkit-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear;
    display: inline-block
}
@-moz-keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    100% {
        -moz-transform: rotate(359deg);
        -o-transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}
@-webkit-keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    100% {
        -moz-transform: rotate(359deg);
        -o-transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}
@-o-keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(359deg);
        -o-transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@-ms-keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    100% {
        -moz-transform: rotate(359deg);
        -o-transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}
@keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    100% {
        -moz-transform: rotate(359deg);
        -o-transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}
.menu .slider ul li a {
    font-family: 'opensans-bold', sans-serif;
    vertical-align: baseline;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: 2.5px;
    text-transform: uppercase
}
#overview {
    margin-top: 96px;
    padding-bottom: 66px;
    overflow: hidden;
    margin-top: 151px;
    color: #fff
}
#overview .profile-pic {
    border: dashed;
    border-radius: 2px;
    border-color: gray;
    transition: all 2s ease-in-out;
    -webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    opacity: .7;
    border-radius: 6%;
    -webkit-filter: grayscale(50%);
    -moz-filter: grayscale(50%);
    -o-filter: grayscale(50%);
    filter: grayscale(50%);
    filter: gray
}
#overview .profile-pic:hover {
    transition: all 2s ease-in-out;
    -webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    opacity: 1;
    border-radius: 5px;
    border: solid;
    border-color: #fff;
    border-radius: 30%;
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    filter: grayscale(0%)
}
#resumeContactDetails {
    width: 50%
}
#overview a:hover {
    color: #11abb0
}
#overview a:visited {
    color: #fff
}
#overview a:active {
    color: #11abb0
}
#education {
    padding-top: 96px;
    padding-bottom: 66px;
    overflow: hidden;
    margin-top: 151px
}
#experience {
    padding-top: 96px;
    padding-bottom: 66px;
    overflow: hidden;
    margin-top: 151px
}
#summary {
    padding-top: 96px;
    padding-bottom: 66px;
    overflow: hidden;
    margin-top: 151px
}
#skills {
    background: #2b2b2b;
    padding-top: 96px;
    padding-bottom: 66px;
    overflow: hidden;
    margin-top: 151px
}
#drive {
    padding-top: 96px;
    padding-bottom: 66px;
    overflow: hidden;
    margin-top: 151px
}
span.dot {
    color: #11abb0;
    cursor: pointer
}
.blackBox {
    background-color: #000;
    overflow: hidden;
    opacity: .7;
    position: absolute;
    width: 100%;
    height: 100%
}
.blackNav {
    background-color: #000;
    overflow: hidden;
    opacity: .6;
    position: absolute;
    width: 100%;
    height: 100%
}
@media screen and (max-width: 767px) {
    #blackNav {
        display: none
    }
    ul#nav li a:after {
        display: none
    }
    ul#nav li.current a:after {
        display: none
    }
}
div#aboveBlurDiv {
    position: relative
}
.spinner {
    width: 40px;
    height: 40px;
    position: relative;
    margin: 100px auto
}
.double-bounce1,
.double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #333;
    opacity: .6;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: bounce 2s infinite ease-in-out;
    animation: bounce 2s infinite ease-in-out
}
.double-bounce2 {
    -webkit-animation-delay: -1s;
    animation-delay: -1s
}
@-webkit-keyframes bounce {
    0%, 100% {
        -webkit-transform: scale(0)
    }
    50% {
        -webkit-transform: scale(1)
    }
}
@keyframes bounce {
    0%, 100% {
        transform: scale(0);
        -webkit-transform: scale(0)
    }
    50% {
        transform: scale(1);
        -webkit-transform: scale(1)
    }
}
#overview h1 {
    font-family: 'proximaNova-regular', sans-serif
}
#overview p {
    color: #fff;
    font-size: large
}
.white-popup {
    position: relative;
    text-align: center;
    align-content: center;
    color: #333;
    background: #fff;
    padding: 0;
    width: auto;
    max-width: 600px;
    margin: auto
}
#popupHeadline {
    color: #ff9448;
    background: #2b2b2b;
    padding: 10px;
    font-family: 'proximaNova-regular', sans-serif
}
#instruct {
    background: #2b2b2b;
    color: #ff9448;
    padding: 3px;
    font-style: italic;
    font-size: small
}
.footerMenu {
    display: inline-flex;
    list-style: none;
    color: #fff
}
.footerMenu:hover {
    color: #ff9448
}
.colorDot span.j:before {
    content: 'j';
    position: absolute;
    color: #11abb0;
    height: .36em;
    overflow: hidden
}
.colorDot span.i:before {
    content: 'i';
    position: absolute;
    color: #11abb0;
    height: .36em;
    overflow: hidden
}
#summaryDiv {
    display: inline-flex;
    padding: 10px
}
#summaryDiv>img {
    width: 10%;
    height: 10%;
    padding-right: 1em;
    padding-top: 1em
}
.summarypoints {
    width: 96%;
    align-content: center
}
.sendMe {
    padding-top: 10%
}
.contact-details {
    padding-left: 1px;
    padding-right: 1px
}
#titleLogo {
    color: #fff;
    font-family: 'proximaNova-bold', sans-serif;
    cursor: pointer;
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear
}
#pngLogo {
    left: 0;
    top: 0;
    width: 4%;
    display: flex;
    position: fixed;
    z-index: 99999;
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=4, OffY=4, Color='#444')";
    filter: url(#drop-shadow);
    -webkit-filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, .5));
    filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, .5))
}
#nameWebsite {
    font-family: 'proximaNova-regular', sans-serif;
    left: 5%;
    top: 1%;
    display: flex;
    position: fixed;
    z-index: 99999
}
#titleLogo:hover {
    filter: none;
    -webkit-filter: none;
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(enabled=false)";
    color: #ea690d;
    font-size: 1.5em;
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear
}
.animationHead {
    background-color: transparent;
    color: #ff9448;
    padding-top: 80px;
    text-align: center;
    display: inline-flex;
    width: 100%
}
.animationHead p,
.animationHead h1 {
    color: #fff;
    font-family: 'proximaNova-regular', sans-serif;
    font-size: 1.2em;
    text-align: justify;
    letter-spacing: 1px
}
.animationHead h1 {
    font-family: 'proximaNova-bold', sans-serif;
    text-align: left;
    font-size: 3em
}
.coffee {
    overflow: visible
}
.worksBg {
    padding-left: 0
}
.animationStrip {
    height: 400px
}
.animationStrip div {
    padding-top: 3%;
    font-size: 2em;
    padding-left: 1%;
    color: #251e1e;
    font-family: 'opensans-light', sans-serif
}
.changer span {
    font-size: 1.6em;
    padding-left: 15%;
    padding-top: 10%;
    position: absolute;
    left: 0;
    opacity: 0;
    animation: changeUp 18s ease-in-out infinite 0s
}
.changer span:nth-child(2) {
    animation-delay: 3s
}
.changer span:nth-child(3) {
    animation-delay: 6s
}
.changer span:nth-child(4) {
    animation-delay: 9s
}
.changer span:nth-child(5) {
    animation-delay: 12s
}
.changer span:nth-child(6) {
    animation-delay: 15s
}
@keyframes changeUp {
    0% {
        opacity: 1
    }
    8% {
        opacity: 1
    }
    19% {
        opacity: 0
    }
    25% {
        opacity: 0
    }
    100% {
        opacity: 0
    }
}
.steam {
    z-index: 99999;
    font-size: 5em;
    color: transparent;
    position: relative;
    left: 30%;
    animation: steaming 5s linear infinite;
    -webkit-animation: steaming 5s linear infinite;
    -moz-animation: steaming 5s linear infinite;
    -o-animation: steaming 5s linear infinite
}
@-webkit-keyframes steaming {
    0% {
        top: 60px;
        opacity: 0;
        text-shadow: 2px 4px 50px white
    }
    25% {
        opacity: .8;
        top: 30px;
        text-shadow: 2px 4px 80px white
    }
    50% {
        opacity: .95;
        top: 50px;
        text-shadow: 4px 8px 100px white
    }
    75% {
        opacity: .8;
        top: 55px;
        text-shadow: 2px 4px 160px white
    }
    100% {
        top: 60px;
        opacity: 0;
        text-shadow: 4px 8px 0 white
    }
}
@-moz-keyframes steaming {
    0% {
        top: 60px;
        opacity: 0;
        text-shadow: 2px 4px 50px white
    }
    25% {
        opacity: .7;
        top: 30px;
        text-shadow: 2px 4px 80px white
    }
    50% {
        opacity: .9;
        top: 50px;
        text-shadow: 4px 8px 100px white
    }
    75% {
        opacity: .7;
        top: 55px;
        text-shadow: 2px 4px 160px white
    }
    100% {
        top: 60px;
        opacity: 0;
        text-shadow: 4px 8px 0 white
    }
}
@-ms-keyframes steaming {
    0% {
        top: 60px;
        opacity: 0;
        text-shadow: 2px 4px 50px white
    }
    25% {
        opacity: .7;
        top: 30px;
        text-shadow: 2px 4px 80px white
    }
    50% {
        opacity: .9;
        top: 50px;
        text-shadow: 4px 8px 100px white
    }
    75% {
        opacity: .7;
        top: 55px;
        text-shadow: 2px 4px 160px white
    }
    100% {
        top: 60px;
        opacity: 0;
        text-shadow: 4px 8px 0 white
    }
}
@-o-keyframes steaming {
    0% {
        top: 60px;
        opacity: 0;
        text-shadow: 2px 4px 50px white;
    }
    25% {
        opacity: .7;
        top: 30px;
        text-shadow: 2px 4px 80px white;
    }
    50% {
        opacity: .9;
        top: 50px;
        text-shadow: 4px 8px 100px white;
    }
    75% {
        opacity: .7;
        top: 55px;
        text-shadow: 2px 4px 160px white;
    }
    100% {
        top: 60px;
        opacity: 0;
        text-shadow: 4px 8px 0 white;
    }
}
@keyframes steaming {
    0% {
        top: 60px;
        opacity: 0;
        text-shadow: 2px 4px 50px white
    }
    25% {
        opacity: .95;
        top: 30px;
        text-shadow: 2px 4px 80px white
    }
    50% {
        opacity: .99;
        top: 50px;
        text-shadow: 4px 8px 100px white
    }
    75% {
        opacity: .95;
        top: 55px;
        text-shadow: 2px 4px 160px white
    }
    100% {
        top: 60px;
        opacity: 0;
        text-shadow: 4px 8px 0 white
    }
}
.worksPage {
    background: url(../images/header-bg.jpg);
    background-color: #5e2b2b
}
.colorBkg {
    background-color: #2b2b2b
}
.worksTitle {
    font-weight: normal;
    color: #11abb0;
    background-color: transparent;
    font-family: 'opensans-light', sans-serif;
    text-align: center
}
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}
audio,
canvas,
video {
    display: inline-block
}
audio:not([controls]) {
    display: none;
    height: 0
}
[hidden] {
    display: none
}
code,
kbd,
pre,
samp {
    font-family: monospace, serif;
    font-size: 1em
}
pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none
}
ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none
}
mark {
    background-color: #008a8e;
    color: #fff
}
del {
    text-decoration: line-through
}
abbr[title],
dfn[title] {
    border-bottom: 1px dotted
}
table {
    border-collapse: collapse;
    border-spacing: 0
}
*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}
html {
    font-size: 62.5%;
    -webkit-font-smoothing: antialiased
}
body {
    background: #fff;
    font-family: 'opensans-regular', sans-serif;
    font-weight: normal;
    font-size: 15px;
    line-height: 30px;
    color: #838c95;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #fff;
    font-family: 'opensans-bold', sans-serif;
    font-weight: normal
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    font-weight: inherit
}
h1 {
    font-size: 38px;
    line-height: 42px;
    margin-bottom: 12px;
    letter-spacing: -1px
}
h2 {
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 6px
}
h3 {
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 12px
}
h4 {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 6px
}
h5 {
    font-size: 18px;
    line-height: 30px
}
h6 {
    font-size: 14px;
    line-height: 30px
}
.subheader {}p {
    margin: 0 0 30px 0;
    color: gray
}
p img {
    margin: 0
}
p.lead {
    font: 19px/36px'opensans-light', sans-serif;
    margin-bottom: 18px
}
em {
    font: 15px/30px'opensans-italic', sans-serif
}
strong,
b {
    font: 15px/30px'opensans-bold', sans-serif
}
small {
    font-size: 11px;
    line-height: inherit
}
blockquote {
    margin: 30px 0;
    padding-left: 40px;
    position: relative
}
blockquote:before {
    content: "201C";
    opacity: .45;
    font-size: 80px;
    line-height: 0;
    margin: 0;
    font-family: arial, sans-serif;
    position: absolute;
    top: 30px;
    left: 0
}
blockquote p {
    font-family: 'opensans-italic', serif;
    padding: 0;
    font-size: 18px;
    line-height: 36px
}
blockquote cite {
    display: block;
    font-size: 12px;
    font-style: normal;
    line-height: 18px
}
blockquote cite:before {
    content: "2014 0020"
}
blockquote cite a,
blockquote cite a:visited {
    color: #8b9798;
    border: none
}
.pull-quote {
    position: relative;
    padding: 18px 30px 18px 0
}
.pull-quote:before,
.pull-quote:after {
    height: 1em;
    opacity: .45;
    position: absolute;
    font-size: 80px;
    font-family: Arial, Sans-Serif
}
.pull-quote:before {
    content: "201C";
    top: 33px;
    left: 0
}
.pull-quote:after {
    content: '201D';
    bottom: -33px;
    right: 0
}
.pull-quote blockquote {
    margin: 0
}
.pull-quote blockquote:before {
    content: none
}
abbr {
    letter-spacing: .1em
}
abbr:hover {
    cursor: help
}
.drop-cap:first-letter {
    float: left;
    margin: 0;
    padding: 14px 6px 0 0;
    font-size: 84px;
    font-family: 'opensans-bold', sans-serif;
    line-height: 60px;
    text-indent: 0;
    background: transparent;
    color: inherit
}
hr {
    border: solid #e3e3e3;
    border-width: 1px 0 0;
    clear: both;
    margin: 11px 0 30px;
    height: 0
}
a,
a:visited {
    text-decoration: none;
    outline: 0;
    color: #fff;
    -webkit-transition: color .3s ease-in-out;
    -moz-transition: color .3s ease-in-out;
    -o-transition: color .3s ease-in-out;
    transition: color .3s ease-in-out
}
a:hover,
a:focus {
    color: #313131
}
p a,
p a:visited {
    line-height: inherit
}
ul,
ol {
    margin-bottom: 24px;
    margin-top: 12px
}
ul {
    list-style: none outside
}
ol {
    list-style: decimal
}
ol,
ul.square,
ul.circle,
ul.disc {
    margin-left: 30px
}
ul.square {
    list-style: square outside
}
ul.circle {
    list-style: circle outside
}
ul.disc {
    list-style: disc outside
}
ul ul,
ul ol,
ol ol,
ol ul {
    margin: 6px 0 6px 30px
}
ul ul li,
ul ol li,
ol ol li,
ol ul li {
    margin-bottom: 6px
}
li {
    line-height: 18px;
    margin-bottom: 12px
}
ul.large li {}li p {}.stats-tabs {
    padding: 0;
    margin: 24px 0
}
.stats-tabs li {
    display: inline-block;
    margin: 0 10px 18px 0;
    padding: 0 10px 0 0;
    border-right: 1px solid #ccc
}
.stats-tabs li:last-child {
    margin: 0;
    padding: 0;
    border: none
}
.stats-tabs li a {
    display: inline-block;
    font-size: 22px;
    font-family: 'opensans-bold', sans-serif;
    border: none;
    color: #313131
}
.stats-tabs li a:hover {
    color: #11abb0
}
.stats-tabs li a b {
    display: block;
    margin: 6px 0 0 0;
    font-size: 13px;
    font-family: 'opensans-regular', sans-serif;
    color: #8b9798
}
.stats-tabs div {
    padding: 10px
}
dl {
    margin: 12px 0
}
dt {
    margin: 0;
    color: #11abb0
}
dd {
    margin: 0 0 0 20px
}
.lining dt,
.lining dd {
    display: inline;
    margin: 0
}
.lining dt+dt:before,
.lining dd+dt:before {
    content: "A";
    white-space: pre
}
.lining dd+dd:before {
    content: ", "
}
.lining dd:before {
    content: ": ";
    margin-left: -.2em
}
.dictionary-style dt {
    display: inline;
    counter-reset: definitions
}
.dictionary-style dt+dt:before {
    content: ", ";
    margin-left: -.2em
}
.dictionary-style dd {
    display: block;
    counter-increment: definitions
}
.dictionary-style dd:before {
    content: counter(definitions, decimal)". "
}
.pagination {
    margin: 36px auto;
    text-align: center
}
.pagination ul li {
    display: inline-block;
    margin: 0;
    padding: 0
}
.pagination .page-numbers {
    font: 15px/18px'opensans-bold', sans-serif;
    display: inline-block;
    padding: 6px 10px;
    margin-right: 3px;
    margin-bottom: 6px;
    color: #6e757c;
    background-color: #e6e8eb;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px
}
.pagination .page-numbers:hover {
    background: #838a91;
    color: #fff
}
.pagination .current,
.pagination .current:hover {
    background-color: #11abb0;
    color: #fff
}
.pagination .inactive,
.pagination .inactive:hover {
    background-color: #e6e8eb;
    color: #a9adb2
}
.pagination .prev,
.pagination .next {}img {
    max-width: 100%;
    height: auto
}
img.pull-right {
    margin: 12px 0 0 18px
}
img.pull-left {
    margin: 12px 18px 0 0
}
.button,
.button:visited,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
    font: 16px/30px'opensans-bold', sans-serif;
    background: #11abb0;
    display: inline-block;
    text-decoration: none;
    letter-spacing: 0;
    color: #fff;
    padding: 12px 20px;
    margin-bottom: 18px;
    border: none;
    cursor: pointer;
    height: auto;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px
}
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
    background: #3d4145;
    color: #fff
}
.button:active,
button:active,
input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active {
    background: #3d4145;
    color: #fff
}
.button.full-width,
button.full-width,
input[type="submit"].full-width,
input[type="reset"].full-width,
input[type="button"].full-width {
    width: 100%;
    padding-left: 0!important;
    padding-right: 0!important;
    text-align: center
}
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0
}
form {
    margin-bottom: 24px
}
fieldset {
    margin-bottom: 24px
}
input[type="text"],
input[type="password"],
input[type="email"],
textarea,
select {
    display: block;
    padding: 18px 15px;
    margin: 0 0 24px 0;
    border: 0;
    outline: none;
    vertical-align: middle;
    min-width: 225px;
    max-width: 100%;
    font-size: 15px;
    line-height: 24px;
    color: #647373;
    background: #d3d9d9
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
textarea:focus {
    color: #b3b7bc;
    background-color: #3d4145
}
label,
legend {
    font: 16px/24px'opensans-bold', sans-serif;
    margin: 12px 0;
    color: #3d4145;
    display: block
}
label span,
legend span {
    color: #8b9798;
    font: 14px/24px'opensans-regular', sans-serif
}
input[type="checkbox"],
input[type="radio"] {
    font-size: 15px;
    color: #737373
}
input[type="checkbox"] {
    display: inline
}
.row {
    width: 96%;
    max-width: 1600px;
    margin: 0 auto
}
.ie .row {
    width: 1000px
}
.narrow .row {
    max-width: 980px
}
.row .row {
    width: auto;
    max-width: none;
    margin: 0;
    padding-top: 20px
}
.row:before,
.row:after {
    content: " ";
    display: table
}
.row:after {
    clear: both
}
.column,
.columns {
    position: relative;
    padding: 0 20px;
    min-height: 1px;
    float: left;
    text-align: justify;
    text-justify: kashida
}
.column.centered,
.columns.centered {
    float: none;
    margin: 0 auto
}
.row.collapsed>.column,
.row.collapsed>.columns,
.column.collapsed,
.columns.collapsed {
    padding: 0
}
[class*="column"]+[class*="column"]:last-child {
    float: right
}
[class*="column"]+[class*="column"].end {
    float: right
}
.row .one {
    width: 8.33333%
}
.row .two {
    width: 16.66667%
}
.row .three {
    width: 25%
}
.row .four {
    width: 33.33333%
}
.row .five {
    width: 41.66667%
}
.row .six {
    width: 50%
}
.row .seven {
    width: 58.33333%
}
.row .eight {
    width: 66.66667%
}
.row .nine {
    width: 75%
}
.row .ten {
    width: 83.33333%
}
.row .eleven {
    width: 91.66667%
}
.row .twelve {
    width: 100%
}
.row .offset-1 {
    margin-left: 8.33333%
}
.row .offset-2 {
    margin-left: 16.66667%
}
.row .offset-3 {
    margin-left: 25%
}
.row .offset-4 {
    margin-left: 33.33333%
}
.row .offset-5 {
    margin-left: 41.66667%
}
.row .offset-6 {
    margin-left: 50%
}
.row .offset-7 {
    margin-left: 58.33333%
}
.row .offset-8 {
    margin-left: 66.66667%
}
.row .offset-9 {
    margin-left: 75%
}
.row .offset-10 {
    margin-left: 83.33333%
}
.row .offset-11 {
    margin-left: 91.66667%
}
.row .push-1 {
    left: 8.33333%
}
.row .pull-1 {
    right: 8.33333%
}
.row .push-2 {
    left: 16.66667%
}
.row .pull-2 {
    right: 16.66667%
}
.row .push-3 {
    left: 25%
}
.row .pull-3 {
    right: 25%
}
.row .push-4 {
    left: 33.33333%
}
.row .pull-4 {
    right: 33.33333%
}
.row .push-5 {
    left: 41.66667%
}
.row .pull-5 {
    right: 41.66667%
}
.row .push-6 {
    left: 50%
}
.row .pull-6 {
    right: 50%
}
.row .push-7 {
    left: 58.33333%
}
.row .pull-7 {
    right: 58.33333%
}
.row .push-8 {
    left: 66.66667%
}
.row .pull-8 {
    right: 66.66667%
}
.row .push-9 {
    left: 75%
}
.row .pull-9 {
    right: 75%
}
.row .push-10 {
    left: 83.33333%
}
.row .pull-10 {
    right: 83.33333%
}
.row .push-11 {
    left: 91.66667%
}
.row .pull-11 {
    right: 91.66667%
}
.bgrid-sixths[class*="column"] {
    width: 16.66667%
}
.bgrid-quarters[class*="column"] {
    width: 20%
}
.bgrid-thirds[class*="column"] {
    width: 33.33333%
}
.bgrid-halves[class*="column"] {
    width: 50%
}
[class*="bgrid"][class*="column"]+[class*="column"]:last-child {
    float: left
}
.first {
    clear: left
}
.s-first {
    clear: none
}
@media only screen and (max-width: 900px) {
    .s-bgrid-sixths[class*="column"] {
        width: 16.66667%
    }
    .s-bgrid-quarters[class*="column"] {
        width: 25%
    }
    .s-bgrid-thirds[class*="column"] {
        width: 33.33333%
    }
    .s-bgrid-halves[class*="column"] {
        width: 50%
    }
    .first {
        clear: none
    }
    .s-first {
        clear: left
    }
}
@media only screen and (max-width: 767px) {
    .row {
        width: 460px;
        margin: 0 auto;
        padding: 0
    }
    .column,
    .columns {
        width: auto!important;
        float: none;
        margin-left: 0;
        margin-right: 0;
        padding: 0 30px
    }
    .row .row {
        width: auto;
        max-width: none;
        margin: 0 -30px
    }
    [class*="column"]+[class*="column"]:last-child {
        float: none
    }
    [class*="bgrid"][class*="column"]+[class*="column"]:last-child {
        float: none
    }
    .row .offset-1 {
        margin-left: 0%
    }
    .row .offset-2 {
        margin-left: 0%
    }
    .row .offset-3 {
        margin-left: 0%
    }
    .row .offset-4 {
        margin-left: 0%
    }
    .row .offset-5 {
        margin-left: 0%
    }
    .row .offset-6 {
        margin-left: 0%
    }
    .row .offset-7 {
        margin-left: 0%
    }
    .row .offset-8 {
        margin-left: 0%
    }
    .row .offset-9 {
        margin-left: 0%
    }
    .row .offset-10 {
        margin-left: 0%
    }
    .row .offset-11 {
        margin-left: 0%
    }
}
@media only screen and (max-width: 460px) {
    .row {
        width: auto
    }
}
@media screen and (min-width: 1200px) {
    .wide .row {
        max-width: 1180px
    }
}
.cf:before,
.cf:after {
    content: " ";
    display: table
}
.cf:after {
    clear: both
}
.remove-bottom {
    margin-bottom: 0!important
}
.half-bottom {
    margin-bottom: 12px!important
}
.add-bottom {
    margin-bottom: 24px!important
}
.no-border {
    border: none
}
.text-center {
    text-align: center!important
}
.text-left {
    text-align: left!important
}
.text-right {
    text-align: right!important
}
.pull-left {
    float: left!important
}
.pull-right {
    float: right!important
}
.align-center {
    margin-left: auto!important;
    margin-right: auto!important;
    text-align: center!important
}
@font-face{font-family:'proximaNova-regular';src:url('../fonts/proxima/proximanova-regular-webfont.eot');src:url('../fonts/proxima/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
url('../fonts/proxima/proximanova-regular-webfont.woff') format('woff'),
url('../fonts/proxima/proximanova-regular-webfont.ttf') format('truetype'),
url('../fonts/proxima/proximanova-regular-webfont.svg#webfont') format('svg')
}
@font-face{font-family:'proximaNova-bold';src:url('../fonts/proxima/proxima_nova_alt_bold-webfont.eot');src:url('../fonts/proxima/proxima_nova_alt_bold-webfont.eot?#iefix') format('embedded-opentype'),
url('../fonts/proxima/proxima_nova_alt_bold-webfont.woff') format('woff'),
url('../fonts/proxima/proxima_nova_alt_bold-webfont.ttf') format('truetype'),
url('../fonts/proxima/proxima_nova_alt_bold-webfont.svg#webfont') format('svg')
}
@font-face{font-family:'positiva';src:url('../fonts/positiva/PositivA.eot');src:url('../fonts/positiva/PositivA.eot?#iefix') format('embedded-opentype'),
url('../fonts/positiva/PositivA.woff') format('woff'),
url('../fonts/positiva/PositivA.ttf') format('truetype'),
url('../fonts/positiva/PositivA.woff#webfont') format('svg')
}
@font-face{font-family:'rabiohead';src:url('../fonts/rabiohead/rabiohead.eot');src:url('../fonts/rabiohead/rabiohead.eot#iefix') format('embedded-opentype'),
url('../fonts/rabiohead/rabiohead.woff') format('woff'),
url('../fonts/rabiohead/rabiohead.ttf') format('truetype'),
url('../fonts/rabiohead/rabiohead.svg#webfont') format('svg')
}
@font-face{font-family:'opensans-regular';src:url('../../fonts/opensans/OpenSans-Regular-webfont.eot');src:url('../../fonts/opensans/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
url('../fonts/opensans/OpenSans-Regular-webfont.woff') format('woff'),
url('../fonts/opensans/OpenSans-Regular-webfont.ttf') format('truetype'),
url('../fonts/opensans/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
font-weight:normal;
font-style:normal
}
@font-face{font-family:'opensans-italic';src:url('../fonts/opensans/OpenSans-Italic-webfont.eot');src:url('../fonts/opensans/OpenSans-Italic-webfont.eot?#iefix') format('embedded-opentype'),
url('../fonts/opensans/OpenSans-Italic-webfont.woff') format('woff'),
url('../fonts/opensans/OpenSans-Italic-webfont.ttf') format('truetype'),
url('../fonts/opensans/OpenSans-Italic-webfont.svg#open_sansitalic') format('svg');
font-weight:normal;
font-style:normal
}
@font-face{font-family:'opensans-light';src:url('../fonts/opensans/OpenSans-Light-webfont.eot');src:url('../fonts/opensans/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
url('../fonts/opensans/OpenSans-Light-webfont.woff') format('woff'),
url('../fonts/opensans/OpenSans-Light-webfont.ttf') format('truetype'),
url('../fonts/opensans/OpenSans-Light-webfont.svg#open_sanslight') format('svg');
font-weight:normal;
font-style:normal
}
@font-face{font-family:'opensans-bold';src:url('../fonts/opensans/OpenSans-Bold-webfont.eot');src:url('../fonts/opensans/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
url('../fonts/opensans/OpenSans-Bold-webfont.woff') format('woff'),
url('../fonts/opensans/OpenSans-Bold-webfont.ttf') format('truetype'),
url('../fonts/opensans/OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
font-weight:normal;
font-style:normal
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
    @font-face{font-family:'opensans-semibold';src:url('../fonts/opensans/OpenSans-Semibold-webfont.svg#open_sanssemibold') format('svg')
}
@font-face{font-family:'opensans-bold';src:url('../fonts/opensans/OpenSans-Bold-webfont.svg#open_sansbold') format('svg')
}
}
body {
    background:#0f0f0f
}
header {
    position:relative;
    height:800px;
    min-height:500px;
    width:100%;
    background:#161415 url(../images/mojito.jpg) no-repeat top center;
    background-size:cover!important;
    -webkit-background-size:cover!important;
    text-align:center;
    overflow:hidden
}
header:before {
    content:'';
    display:inline-block;
    vertical-align:middle;
    height:100%
}
header .banner {
    display:inline-block;
    vertical-align:middle;
    margin:0 auto;
    width:85%;
    padding-bottom:0;
    text-align:center;
    position:relative
}
header .banner-text {
    width:100%;
    padding-top:20px
}
header .banner-text h1 {
    font:90px/1.1em'proximaNova-regular',
    sans-serif;
    color:#fff;
    letter-spacing:-2px;
    margin:0 auto 18px auto;
    text-shadow:0 1px 3px rgba(0,
    0,
    0,
    .8)
}
header .banner-text h3 {
    font:20px/1.6em'proximaNova-regular',
    sans-serif;
    text-align:justify;
    color:#a8a8a8;
    margin:0 auto;
    width:70%;
    text-shadow:0 1px 2px rgba(0,
    0,
    0,
    .5)
}
header .banner-text h3 span,
header .banner-text h3 a {
    color:#fff
}
header .banner-text hr {
    width:60%;
    margin:18px auto 24px auto;
    border-color:#2f2d2e;
    border-color:rgba(150,
    150,
    150,
    .1)
}
header .social {
    margin:24px 0;
    padding:0;
    font-size:30px;
    text-shadow:0 1px 2px rgba(0,
    0,
    0,
    .8)
}
header .social li {
    display:inline-block;
    margin:0 15px;
    padding:0
}
header .social li a {
    color:#fff
}
header .social li a:after {
    content:' .'
}
header .social li a:hover {
    color:#11abb0;
    border-top:groove;
    border-top-color:#f06000
}
header .social li:hover a:after {
    content:' .';
    color:#f06000
}
header .scrolldown a,
section .scrolldown a {
    position:absolute;
    bottom:10px;
    left:50%;
    display:block;
    height:42px;
    width:42px;
    font-size:42px;
    line-height:42px;
    color:#2b2b2b;
    margin:5px;
    -webkit-transition:all .3s linear;
    -moz-transition:all .3s linear;
    -o-transition:all .3s linear;
    transition:all .3s linear
}
header .scrolldown a:hover,
section .scrolldown a:hover {
    color:#f06000;
    -webkit-transition:all .3s linear;
    -moz-transition:all .3s linear;
    -o-transition:all .3s linear;
    transition:all .3s linear
}
#nav-wrap ul,
#nav-wrap li,
#nav-wrap a {
    margin:0;
    padding:0;
    border:none;
    outline:none
}
#nav-wrap {
    font:14px'opensans-bold',
    sans-serif;
    width:100%;
    text-transform:uppercase;
    letter-spacing:2.5px;
    margin:0 auto;
    z-index:100;
    position:fixed;
    left:0;
    top:0
}
.opaque {
    background-color:#333
}
#nav-wrap>a.mobile-btn {
    display:none
}
ul#nav {
    min-height:48px;
    width:auto;
    text-align:center
}
ul#nav li {
    position:relative;
    list-style:none;
    height:48px;
    display:inline-block
}
ul#nav li a {
    display:flex;
    padding:8px 13px;
    line-height:32px;
    text-decoration:none;
    text-align:left;
    color:#fff;
    -webkit-transition:color .2s ease-in-out;
    -moz-transition:color .2s ease-in-out;
    -o-transition:color .2s ease-in-out;
    -ms-transition:color .2s ease-in-out;
    transition:color .2s ease-in-out
}
ul#nav li a:active {
    background-color:transparent!important
}
ul#nav li.current a {
    color:#f06000
}
ul#nav li a:after {
    content:".";
    display:flex;
    opacity:0
}
ul#nav li a:hover {
    color:#f06000
}
ul#nav li.current a:after {
    content:".";
    color:#11abb0;
    display:flex;
    opacity:1
}
#about {
    background:#2b2b2b;
    padding-top:96px;
    padding-bottom:66px;
    overflow:hidden
}
#about a,
#about a:visited {
    color:#fff
}
#about a:hover,
#about a:focus {
    color:#11abb0
}
#about h2 {
    font:22px/30px'opensans-bold',
    sans-serif;
    color:#fff;
    margin-bottom:12px
}
#about p {
    line-height:30px;
    color:#7a7a7a
}
#about .profile-pic {
    position:relative;
    width:120px;
    height:120px;
    border-radius:100%
}
#about .main-col {
    padding-right:25px
}
#about .download .button {
    margin-top:6px;
    background:#444
}
#about .download .button:hover {
    background:#fff;
    color:#2b2b2b
}
#about .download .button i {
    margin-right:15px;
    font-size:20px
}
#resume {
    background:#fff;
    padding-top:90px;
    padding-bottom:72px;
    overflow:hidden
}
#resume a,
#resume a:visited {
    color:#fff
}
#resume a:hover,
#resume a:focus {
    color:#313131
}
#resume h1 {
    font:18px/24px'opensans-bold',
    sans-serif;
    text-transform:uppercase;
    letter-spacing:1px
}
#resume h1 span {
    border-bottom:3px solid #11abb0;
    padding-bottom:6px
}
#resume h3 {
    font:25px/30px'opensans-bold',
    sans-serif
}
#resume .header-col {
    padding-top:9px
}
#resume .main-col {
    padding-right:10%
}
.education,
.work {
    margin-bottom:48px;
    padding-bottom:24px
}
#resume .info {
    font:16px/24px'opensans-italic',
    serif;
    color:#6e7881;
    margin-bottom:18px;
    margin-top:9px
}
#resume .info span {
    margin-right:5px;
    margin-left:5px
}
#resume .date {
    font:15px/24px'opensans-regular',
    sans-serif;
    margin-top:6px
}
.bars {
    width:95%;
    float:left;
    padding:0;
    text-align:left
}
.bars .skills {
    margin-top:36px;
    list-style:none
}
.bars li {
    position:relative;
    margin-bottom:60px;
    background:#ccc;
    height:42px;
    border-radius:3px;
    box-shadow:0 2px 5px rgba(0,
    0,
    0,
    .25) inset
}
.bars li em {
    font:15px'opensans-bold',
    sans-serif;
    color:#313131;
    text-transform:uppercase;
    letter-spacing:2px;
    font-weight:normal;
    position:relative;
    top:-36px
}
.bar-expand {
    position:absolute;
    left:0;
    top:0;
    margin:0;
    padding-right:24px;
    background:#313131;
    display:inline-block;
    height:42px;
    line-height:42px;
    border-radius:3px 0 0 3px
}
#portfolio {
    background-color:transparent;
    padding-top:90px;
    padding-bottom:60px
}
#portfolio h1 {
    font:15px/24px'opensans-bold',
    sans-serif;
    text-transform:uppercase;
    letter-spacing:1px;
    text-align:center;
    margin-bottom:48px;
    color:#95a3a3
}
.portfolio-item {
    border-radius:5%;
    -webkit-box-shadow:0 1px 1px rgba(50,
    50,
    50,
    .1);
    -moz-box-shadow:0 1px 1px rgba(50,
    50,
    50,
    .1);
    box-shadow:0 1px 1px rgba(50,
    50,
    50,
    .1)
}
.portfolio-item .item-wrap {
    background:#fff;
    overflow:hidden;
    position:relative;
    -webkit-transition:all .3s ease-in-out;
    -moz-transition:all .3s ease-in-out;
    -o-transition:all .3s ease-in-out;
    -ms-transition:all .3s ease-in-out;
    transition:all .3s ease-in-out
}
.portfolio-item .item-wrap a {
    display:block;
    cursor:pointer
}
.portfolio-item .item-wrap .overlay {
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    opacity:0;
    -moz-opacity:0;
    filter:alpha(opacity=0);
    -webkit-transition:opacity .3s ease-in-out;
    -moz-transition:opacity .3s ease-in-out;
    -o-transition:opacity .3s ease-in-out;
    transition:opacity .3s ease-in-out;
    background:url(../images/overlay-bg.png) repeat
}
.portfolio-item .item-wrap .link-icon {
    display:block;
    color:#fff;
    height:30px;
    width:90%;
    font-size:18px;
    line-height:30px;
    text-align:center;
    opacity:0;
    -moz-opacity:0;
    filter:alpha(opacity=0);
    -webkit-transition:opacity .3s ease-in-out;
    -moz-transition:opacity .3s ease-in-out;
    -o-transition:opacity .3s ease-in-out;
    transition:opacity .3s ease-in-out;
    position:absolute;
    top:10%;
    left:10%;
    margin-left:-15px;
    margin-top:-15px
}
.portfolio-item .item-wrap img {
    vertical-align:bottom
}
.portfolio-item .portfolio-item-meta {
    padding:20px;
    background-color:#11abb0
}
.portfolio-item .portfolio-item-meta h5 {
    font:1.1em'opensans-bold',
    sans-serif;
    color:#fff;
    letter-spacing:1px
}
.portfolio-item .portfolio-item-meta p {
    font:.7em'proximaNova-light',
    sans-serif;
    color:#fff;
    margin-bottom:0
}
.portfolio-item:hover .overlay {
    opacity:1;
    -moz-opacity:1;
    filter:alpha(opacity=100)
}
.portfolio-item:hover .link-icon {
    opacity:1;
    -moz-opacity:1;
    filter:alpha(opacity=100)
}
.popup-modal {
    max-width:550px;
    background:#fff;
    position:relative;
    margin:0 auto
}
.popup-modal .description-box {
    padding:12px 36px 18px 36px
}
.popup-modal .description-box h4 {
    font:15px/24px'opensans-bold',
    sans-serif;
    margin-bottom:12px;
    color:#111
}
.popup-modal .description-box p {
    font:14px/24px'opensans-regular',
    sans-serif;
    color:#a1a1a1;
    margin-bottom:12px
}
.popup-modal .description-box .categories {
    font:11px/21px'opensans-light',
    sans-serif;
    color:#a1a1a1;
    text-transform:uppercase;
    letter-spacing:2px;
    display:block;
    text-align:left
}
.popup-modal .description-box .categories i {
    margin-right:8px
}
.popup-modal .link-box {
    padding:18px 36px;
    background:#1d1010 url(../images/header-bg.jpg);
    text-align:left
}
.popup-modal .link-box a {
    color:#fff;
    font:11px/21px'opensans-bold',
    sans-serif;
    text-transform:uppercase;
    letter-spacing:3px;
    cursor:pointer
}
.popup-modal a:hover {
    color:#0cc
}
.popup-modal a.popup-modal-dismiss {
    margin-left:24px
}
.mfp-fade.mfp-wrap .mfp-content .popup-modal {
    opacity:0;
    -webkit-transition:all 200ms ease-in-out;
    -moz-transition:all 200ms ease-in-out;
    -o-transition:all 200ms ease-in-out;
    -ms-transition:all 200ms ease-in-out;
    transition:all 200ms ease-in-out
}
.mfp-fade.mfp-wrap.mfp-ready .mfp-content .popup-modal {
    opacity:1
}
.mfp-fade.mfp-wrap.mfp-removing .mfp-content .popup-modal {
    opacity:0
}
#testimonials {
    background:#1f1f1f url(../images/testimonials-bg.jpg) no-repeat center center;
    background-size:cover!important;
    -webkit-background-size:cover!important;
    background-attachment:fixed;
    position:relative;
    min-height:200px;
    width:100%;
    overflow:hidden
}
#testimonials .text-container {
    padding-top:96px;
    padding-bottom:66px
}
#testimonials h1 {
    font:18px/24px'opensans-bold',
    sans-serif;
    text-transform:uppercase;
    letter-spacing:3px;
    color:#fff
}
#testimonials h1 span {
    display:none
}
#testimonials .header-col {
    padding-top:9px
}
#testimonials .header-col h1:before {
    font-family:'FontAwesome';
    content:"f10d";
    padding-right:10px;
    font-size:72px;
    line-height:72px;
    text-align:left;
    float:left;
    color:#fff
}
#testimonials blockquote {
    margin:0 0 30px 0;
    padding-left:0;
    position:relative;
    text-shadow:0 1px 3px rgba(0,
    0,
    0,
    1)
}
#testimonials blockquote:before {
    content:none
}
#testimonials blockquote p {
    font-family:'opensans-italic',
    serif;
    padding:0;
    font-size:24px;
    line-height:48px;
    color:#fff
}
#testimonials blockquote cite {
    display:block;
    font-size:12px;
    font-style:normal;
    line-height:18px;
    color:#fff
}
#testimonials blockquote cite:before {
    content:"2014 0020"
}
#testimonials blockquote cite a,
#testimonials blockquote cite a:visited {
    color:#8b9798;
    border:none
}
#contact {
    background:#191919;
    padding-top:96px;
    padding-bottom:0;
    color:#636363
}
#contact .section-head {
    margin-bottom:42px
}
#contact a,
#contact a:visited {
    color:#fff
}
#contact a:hover,
#contact a:focus {
    color:#fff
}
#contact h1 {
    font:18px/24px'opensans-bold',
    sans-serif;
    text-transform:uppercase;
    letter-spacing:3px;
    color:#ebeeee;
    margin-bottom:6px
}
#contact h1 span {
    display:flex
}
#contact h4 {
    font:16px/24px'opensans-bold',
    sans-serif;
    color:#ebeeee;
    margin-bottom:6px
}
#contact p.lead {
    font:18px/36px'opensans-light',
    sans-serif;
    padding-right:30px
}
#contact .header-col {
    padding-top:6px
}
#contact form {
    margin-bottom:30px
}
#contact label {
    font:15px/24px'opensans-bold',
    sans-serif;
    margin:12px 0;
    color:#ebeeee;
    display:inline-block;
    float:left;
    width:26%
}
#contact input,
#contact textarea,
#contact select {
    padding:18px 20px;
    color:#eee;
    background:#373233;
    margin-bottom:42px;
    border:0;
    outline:none;
    font-size:15px;
    line-height:24px;
    width:65%
}
#contact input:focus,
#contact textarea:focus,
#contact select:focus {
    color:#fff;
    background-color:#11abb0
}
#contact button.submit {
    text-transform:uppercase;
    letter-spacing:3px;
    color:#fff;
    background:#0d0d0d;
    border:none;
    cursor:pointer;
    height:auto;
    display:inline-block;
    border-radius:3px;
    margin-left:26%
}
#contact button.submit:hover {
    color:#0d0d0d;
    background:#fff
}
#contact span.required {
    color:#11abb0;
    font-size:13px
}
#message-warning,
#message-success {
    display:none;
    background:#0f0f0f;
    padding:24px 24px;
    margin-bottom:36px;
    width:65%;
    margin-left:26%
}
#message-warning {
    color:#d72828
}
#message-success {
    color:#11abb0
}
#message-warning i,
#message-success i {
    margin-right:10px
}
#image-loader {
    display:none;
    position:relative;
    left:18px;
    top:17px
}
#twitter {
    margin-top:12px;
    padding:0
}
#twitter li {
    margin:6px 0 12px 0;
    line-height:30px
}
#twitter li span {
    display:block
}
#twitter li b a {
    font:13px/36px'opensans-regular',
    Sans-serif;
    color:#474747!important;
    border:none
}
footer {
    padding-top:0;
    margin-bottom:48px;
    color:#a1a1a1;
    font-size:14px;
    text-align:center;
    position:relative;
    z-index:9999;
    background-color:#000
}
footer .copyright {
    margin:0;
    padding:0
}
#go-top {
    position:fixed;
    bottom:1%;
    left:1%;
    cursor:pointer;
    background-color:#000;
    z-index:999999
}
#go-top a {
    padding:0;
    margin:0;
    opacity:.6;
    text-decoration:none;
    border:0 none;
    display:block;
    width:60px;
    height:60px;
    background-color:transparent;
    -webkit-transition:all .2s ease-in-out;
    -moz-transition:all .2s ease-in-out;
    -o-transition:all .2s ease-in-out;
    -ms-transition:all .2s ease-in-out;
    transition:all .2s ease-in-out;
    border:solid;
    border-color:#fff;
    color:#fff;
    font-size:21px;
    line-height:60px;
    border-radius:6%
}
#go-top a:hover {
    background-color:#fff;
    color:#000
}
.mfp-bg {
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:1042;
    overflow:hidden;
    position:fixed;
    background:#000;
    opacity:.8;
    filter:alpha(opacity=80)
}
.mfp-wrap {
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:1043;
    position:fixed;
    outline:none!important;
    -webkit-backface-visibility:hidden
}
.mfp-container {
    text-align:center;
    position:absolute;
    width:100%;
    height:100%;
    left:0;
    top:0;
    padding:0 8px;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box
}
.mfp-container:before {
    content:'';
    display:inline-block;
    height:100%;
    vertical-align:middle
}
.mfp-align-top .mfp-container:before {
    display:none
}
.mfp-content {
    position:relative;
    display:inline-block;
    vertical-align:middle;
    margin:0 auto;
    text-align:left;
    z-index:1045
}
.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
    width:100%;
    cursor:auto
}
.mfp-ajax-cur {
    cursor:progress
}
.mfp-zoom-out-cur,
.mfp-zoom-out-cur .mfp-image-holder .mfp-close {
    cursor:-moz-zoom-out;
    cursor:-webkit-zoom-out;
    cursor:zoom-out
}
.mfp-zoom {
    cursor:pointer;
    cursor:-webkit-zoom-in;
    cursor:-moz-zoom-in;
    cursor:zoom-in
}
.mfp-auto-cursor .mfp-content {
    cursor:auto
}
.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
    -webkit-user-select:none;
    -moz-user-select:none;
    user-select:none
}
.mfp-loading.mfp-figure {
    display:none
}
.mfp-hide {
    display:none!important
}
.mfp-preloader {
    color:#ccc;
    position:absolute;
    top:50%;
    width:auto;
    text-align:center;
    margin-top:-.8em;
    left:8px;
    right:8px;
    z-index:1044
}
.mfp-preloader a {
    color:#ccc
}
.mfp-preloader a:hover {
    color:#fff
}
.mfp-s-ready .mfp-preloader {
    display:none
}
.mfp-s-error .mfp-content {
    display:none
}
button.mfp-close,
button.mfp-arrow {
    overflow:visible;
    cursor:pointer;
    background:transparent;
    border:0;
    -webkit-appearance:none;
    display:block;
    outline:none;
    padding:0;
    z-index:1046;
    -webkit-box-shadow:none;
    box-shadow:none
}
button::-moz-focus-inner {
    padding:0;
    border:0
}
.mfp-close {
    width:44px;
    height:44px;
    line-height:44px;
    position:absolute;
    right:0;
    top:0;
    text-decoration:none;
    text-align:center;
    opacity:.65;
    filter:alpha(opacity=65);
    padding:0 0 18px 10px;
    color:#fff;
    font-style:normal;
    font-size:28px;
    font-family:Arial,
    Baskerville,
    monospace
}
.mfp-close:hover,
.mfp-close:focus {
    opacity:1;
    filter:alpha(opacity=100)
}
.mfp-close:active {
    top:1px
}
.mfp-close-btn-in .mfp-close {
    color:#333
}
.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
    color:#fff;
    right:-6px;
    text-align:right;
    padding-right:6px;
    width:100%
}
.mfp-counter {
    position:absolute;
    top:0;
    right:0;
    color:#ccc;
    font-size:12px;
    line-height:18px
}
.mfp-arrow {
    position:absolute;
    opacity:.65;
    filter:alpha(opacity=65);
    margin:0;
    top:50%;
    margin-top:-55px;
    padding:0;
    width:90px;
    height:110px;
    -webkit-tap-highlight-color:rgba(0,
    0,
    0,
    0)
}
.mfp-arrow:active {
    margin-top:-54px
}
.mfp-arrow:hover,
.mfp-arrow:focus {
    opacity:1;
    filter:alpha(opacity=100)
}
.mfp-arrow:before,
.mfp-arrow:after,
.mfp-arrow .mfp-b,
.mfp-arrow .mfp-a {
    content:'';
    display:block;
    width:0;
    height:0;
    position:absolute;
    left:0;
    top:0;
    margin-top:35px;
    margin-left:35px;
    border:medium inset transparent
}
.mfp-arrow:after,
.mfp-arrow .mfp-a {
    border-top-width:13px;
    border-bottom-width:13px;
    top:8px
}
.mfp-arrow:before,
.mfp-arrow .mfp-b {
    border-top-width:21px;
    border-bottom-width:21px;
    opacity:.7
}
.mfp-arrow-left {
    left:0
}
.mfp-arrow-left:after,
.mfp-arrow-left .mfp-a {
    border-right:17px solid #fff;
    margin-left:31px
}
.mfp-arrow-left:before,
.mfp-arrow-left .mfp-b {
    margin-left:25px;
    border-right:27px solid #3f3f3f
}
.mfp-arrow-right {
    right:0
}
.mfp-arrow-right:after,
.mfp-arrow-right .mfp-a {
    border-left:17px solid #fff;
    margin-left:39px
}
.mfp-arrow-right:before,
.mfp-arrow-right .mfp-b {
    border-left:27px solid #3f3f3f
}
.mfp-iframe-holder {
    padding-top:40px;
    padding-bottom:40px
}
.mfp-iframe-holder .mfp-content {
    line-height:0;
    width:100%;
    max-width:900px
}
.mfp-iframe-holder .mfp-close {
    top:-40px
}
.mfp-iframe-scaler {
    width:100%;
    height:0;
    overflow:hidden;
    padding-top:56.25%
}
.mfp-iframe-scaler iframe {
    position:absolute;
    display:block;
    top:0;
    left:0;
    width:100%;
    height:100%;
    box-shadow:0 0 8px rgba(0,
    0,
    0,
    .6);
    background:#000
}
img.mfp-img {
    width:auto;
    max-width:100%;
    height:auto;
    display:block;
    line-height:0;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    padding:40px 0 40px;
    margin:0 auto
}
.mfp-figure {
    line-height:0
}
.mfp-figure:after {
    content:'';
    position:absolute;
    left:0;
    top:40px;
    bottom:40px;
    display:block;
    right:0;
    width:auto;
    height:auto;
    z-index:-1;
    box-shadow:0 0 8px rgba(0,
    0,
    0,
    .6);
    background:#444
}
.mfp-figure small {
    color:#bdbdbd;
    display:block;
    font-size:12px;
    line-height:14px
}
.mfp-figure figure {
    margin:0
}
.mfp-bottom-bar {
    margin-top:-36px;
    position:absolute;
    top:100%;
    left:0;
    width:100%;
    cursor:auto
}
.mfp-title {
    text-align:left;
    line-height:18px;
    color:#f3f3f3;
    word-wrap:break-word;
    padding-right:36px
}
.mfp-image-holder .mfp-content {
    max-width:100%
}
.mfp-gallery .mfp-image-holder .mfp-figure {
    cursor:pointer
}
@media screen and (max-width: 800px) and (orientation: landscape),
screen and (max-height: 300px) {
    .mfp-img-mobile .mfp-image-holder {
        padding-left:0;
        padding-right:0
    }
    .mfp-img-mobile img.mfp-img {
        padding:0
    }
    .mfp-img-mobile .mfp-figure:after {
        top:0;
        bottom:0
    }
    .mfp-img-mobile .mfp-figure small {
        display:inline;
        margin-left:5px
    }
    .mfp-img-mobile .mfp-bottom-bar {
        background:rgba(0,
        0,
        0,
        .6);
        bottom:0;
        margin:0;
        top:auto;
        padding:3px 5px;
        position:fixed;
        -webkit-box-sizing:border-box;
        -moz-box-sizing:border-box;
        box-sizing:border-box
    }
    .mfp-img-mobile .mfp-bottom-bar:empty {
        padding:0
    }
    .mfp-img-mobile .mfp-counter {
        right:5px;
        top:3px
    }
    .mfp-img-mobile .mfp-close {
        top:0;
        right:0;
        width:35px;
        height:35px;
        line-height:35px;
        background:rgba(0,
        0,
        0,
        .6);
        position:fixed;
        text-align:center;
        padding:0
    }
}
@media all and (max-width: 900px) {
    .mfp-arrow {
        -webkit-transform:scale(.75);
        transform:scale(.75)
    }
    .mfp-arrow-left {
        -webkit-transform-origin:0;
        transform-origin:0
    }
    .mfp-arrow-right {
        -webkit-transform-origin:100%;
        transform-origin:100%
    }
    .mfp-container {
        padding-left:6px;
        padding-right:6px
    }
}
.mfp-ie7 .mfp-img {
    padding:0
}
.mfp-ie7 .mfp-bottom-bar {
    width:600px;
    left:50%;
    margin-left:-300px;
    margin-top:5px;
    padding-bottom:5px
}
.mfp-ie7 .mfp-container {
    padding:0
}
.mfp-ie7 .mfp-content {
    padding-top:44px
}
.mfp-ie7 .mfp-close {
    top:0;
    right:0;
    padding-top:0
}
#scrollHand>a {
    color:#000;
    z-index:99999;
    font-size:2.6em;
    position:absolute;
    left:50%
}
#scrollHand>a:hover {
    color:#11abb0
}
#intro {
    background-color:#fff;
    padding-top:3%;
    font-family:'proximaNova-regular',
    sans-serif
}
#SnW {
    background-color:#fff;
    padding-top:3%;
    color:#000;
    font-family:'proximaNova-regular',
    sans-serif
}
#SnW h1 {
    text-transform:uppercase;
    text-align:center;
    vertical-align:middle;
    color:#313131;
    letter-spacing:1px;
    font-size:3em
}
#thingsLife,
#thingsWebsite,
#thingsLike,
#thingsHate {
    padding-top:6%;
    padding-bottom:6%
}
#thingsLife p,
#thingsWebsite p,
#thingsLike p,
#thingsHate p {
    color:#000;
    font-size:1.1em
}
#intro h1,
#thingsLife h1,
#thingsWebsite h1,
#thingsLike h1,
#thingsHate h1 {
    text-align:center;
    vertical-align:middle;
    color:#313131;
    letter-spacing:1px;
    font-size:4em;
    text-transform:uppercase
}
#intro p {
    padding-left:4%;
    padding-right:1%;
    color:#000;
    font-size:1.1em
}
#barChart {
    padding:10%;
    animation:all 1s ease-in-out;
    font-size:11em;
    cursor:pointer;
    color:#313131
}
#quote {
    color:#313131;
    font-size:2em;
    font-family:'proximaNova-regular',
    sans-serif;
    opacity:0;
    cursor:help;
    text-align:right;
    line-height:40px;
    -webkit-transition:opacity 1s ease-in-out;
    -moz-transition:opacity 1s ease-in-out;
    -o-transition:opacity 1s ease-in-out;
    transition:opacity 1s ease-in-out
}
#quote span {
    padding-left:4%;
    padding-right:4%;
    vertical-align:text-top;
    font-size:.7em
}
#barChart:hover+#quote {
    opacity:1;
    color:#313131;
    cursor:alias;
    -webkit-transition:opacity 1s ease-in-out;
    -moz-transition:opacity 1s ease-in-out;
    -o-transition:opacity 1s ease-in-out;
    transition:opacity 1s ease-in-out
}
.barOrange {
    background:#ff9448
}
.barYellow {
    background:#e8ec64
}
.barBlue {
    background:#1b80d3
}
.barAquaMarine {
    background:#18b38b
}
.bars strong {
    padding-left:45%;
    color:#000
}
.per100 {
    width:100%
}
.per90 {
    width:90%
}
.per80 {
    width:80%
}
.per70 {
    width:70%
}
.per60 {
    width:60%
}
.per50 {
    width:50%
}
.per40 {
    width:40%
}
.per30 {
    width:30%
}
.body-content {
    background-color:#fff;
    padding-left:0;
    padding-right:0
}
.resumeBack {
    background-color:#2b2b2b
}
.dl-horizontal dt {
    white-space:normal
}
input,
select,
textarea {
    max-width:450px;
    min-width:60px
}
#connectText {
    font-family:'proximaNova-regular';
    font-size:.5em
}
#emailFormTitle {
    margin-top:0;
    font-size:1.3em
}
#contactMessage {
    overflow:auto
}
#contact a:hover {
    color:#11abb0
}
#legalFooter {
    list-style:none;
    display:inline-flex;
    margin-left:20px;
    line-height:normal
}
#legalFooter a {
    color:gray
}
#legalFooter li:after {
    margin-left:10px;
    margin-right:10px;
    content:"|";
    color:#11abb0;
    font-family:'Fontawesome'
}
#legalFooter a:hover {
    color:#fff
}
.allLegal {
    display:inline-flex;
    margin-top:5%;
    color:#000;
    font:19px/36px'opensans-regular',
    sans-serif
}
.allLegal li {
    line-height:36px;
    margin-bottom:0
}
.allLegal h1,
.allLegal h2,
.allLegal h3,
.allLegal span,
.allLegal div,
.allLegal p,
.allLegal span {
    color:#313131
}
.allLegal .whiteBgLink {
    color:#008a8e
}
.allLegal .whiteBgLink:hover {
    color:#11abb0;
    background-color:#313131
}
.allLegalInfo section {
    margin-top:3%;
    margin-bottom:3%
}
.legalNav {
    padding-left:2%;
    width:100%;
    background-color:#313131
}
.legalNav li {
    padding:4%;
    font-size:1em;
    cursor:pointer;
    color:#11abb0;
    background-color:transparent
}
.legalNav li:hover {
    background-color:#11abb0
}
.headText {
    color:#fff;
    display:inline-flex;
    width:100%;
    text-align:left;
    padding-bottom:2%
}
.resumeH2 {
    font:60px/1.1em"proximaNova-regular",
    sans-serif
}
.resumeH3 {
    font:48px/1em"proximaNova-regular",
    sans-serif
}
.subH3 {
    font:22px/1em"proximaNova-regular",
    sans-serif
}
#allLegalInfo>h3 {
    text-align:center
}
#allLegalInfo>h2 {
    text-align:center
}
#driveDiv {
    display:inline-table
}
#driveText {
    font:60px/1.1em'proximaNova-regular',
    sans-serif;
    text-align:justify;
    color:#fff
}
#driveText:before {
    color:gray;
    padding-right:5%;
    vertical-align:top;
    content:"?";
    font-size:.7em;
    font-family:'FontAwesome'
}
#driveText:after {
    color:gray;
    padding-left:5%;
    vertical-align:bottom;
    content:"?";
    font-size:.7em;
    font-family:'FontAwesome'
}
#additionalDrive>div>p {
    padding-top:1%;
    text-align:justify;
    color:#fff
}
#lightHeart {
    color:gray;
    font-size:10em;
    padding-top:2%;
    padding-left:2%
}
#lightHeart:hover {
    -webkit-animation:pulse .7s ease-in-out infinite;
    -moz-animation:pulse .7s ease-in-out infinite;
    -o-animation:pulse .7s ease-in-out infinite;
    animation:pulse .7s ease-in-out infinite;
    cursor:help
}
@-webkit-keyframes pulse {
    0% {
        font-size:10em
    }
    50% {
        font-size:12em
    }
    100% {
        font-size:10em
    }
}
@-moz-keyframes pulse {
    0% {
        font-size:10em
    }
    50% {
        font-size:12em
    }
    100% {
        font-size:10em
    }
}
@-o-keyframes pulse {
    0% {
        font-size:10em;
    }
    50% {
        font-size:12em;
    }
    100% {
        font-size:10em;
    }
}
@keyframes pulse {
    0% {
        font-size:10em
    }
    50% {
        font-size:12em
    }
    100% {
        font-size:10em
    }
}
.whiteColor {
    color:#fff!important
}
#shortAddressCard a {
    margin-left:3%
}
#laptop:hover>#screen {
    color:gray;
    cursor:pointer;
    -webkit-animation:workCode 5s linear infinite;
    -moz-animation:workCode 5s linear infinite;
    -o-animation:workCode 5s linear infinite;
    animation:workCode 5s linear infinite
}
@-webkit-keyframes workCode {
    0% {
        content:"?";
        color:gray;
        transform:scale(.5,
        .5)
    }
    60% {
        transform:scale(.5,
        .5);
        transform:rotate(360deg)
    }
    60% {
        transform:scale(.3,
        .3);
        color:#11abb0;
        content:"?"
    }
    90% {
        transform:scale(.8,
        .8);
        color:#ff9448;
        content:"?"
    }
    100% {
        content:"?";
        color:gray
    }
}
@-moz-keyframes workCode {
    0% {
        content:"?";
        color:gray
    }
    60% {
        transform:scale(.5,
        .5);
        transform:rotate(360deg)
    }
    60% {
        transform:scale(.3,
        .3);
        color:#11abb0;
        content:"?"
    }
    90% {
        transform:scale(.8,
        .8);
        color:#ff9448;
        content:"?"
    }
    100% {
        content:"?";
        color:gray
    }
}
@-o-keyframes workCode {
    0% {
        content:"?";
        color:#808080;
    }
    60% {
        transform:scale(.5,
        .5);
        transform:rotate(360deg);
    }
    60% {
        transform:scale(.3,
        .3);
        color:#11ABB0;
        content:"?";
    }
    90% {
        transform:scale(.8,
        .8);
        color:#FF9448;
        content:"?";
    }
    100% {
        content:"?";
        color:#808080;
    }
}
@keyframes workCode {
    0% {
        content:"?";
        color:gray
    }
    60% {
        transform:scale(.5,
        .5);
        transform:rotate(360deg)
    }
    60% {
        transform:scale(.3,
        .3);
        color:#11abb0;
        content:"?"
    }
    90% {
        transform:scale(.8,
        .8);
        color:#ff9448;
        content:"?"
    }
    100% {
        content:"?";
        color:gray
    }
}
#sDiv,
#wDiv {
    padding:0;
    margin-bottom:3%;
    margin-left:4%;
    margin-right:4%;
    width:40%;
    text-align:center;
    box-shadow:0 10px 30px rgba(0,
    0,
    0,
    .3)
}
.headItem {
    padding:5%;
    height:50%;
    background-color:#008a8e
}
.headItem:hover {
    padding:5%;
    height:50%;
    background-color:#11abb0
}
.headItem i {
    margin:1%;
    padding:4%;
    border:solid;
    border-color:#fff;
    border-radius:50%;
    color:#fff
}
.headItem span {
    color:#fff;
    font-family:'proximaNova-regular',
    sans-serif;
    letter-spacing:1%;
    font-size:3em
}
.lister {
    padding:5%;
    padding-bottom:0;
    padding-top:0;
    background-color:#fff
}
.lister ul li {
    padding-bottom:2%;
    border-bottom:1px solid rgba(49,
    49,
    49,
    .3)
}
.strength li {
    text-align:right
}
.weakness li {
    text-align:left
}
.strength li:hover,
.weakness li:hover {
    background-color:#f1f1f1;
    cursor:pointer
}
.strength i {
    color:#057b00;
    padding-left:1%;
    font-size:2em
}
.weakness i {
    color:#d50000;
    padding-right:1%;
    font-size:2em
}
#thingsPage {
    background-color:#fff;
    color:#000;
    padding-top:3%;
    font-family:'proximaNova-regular',
    sans-serif
}
.thingsTitle {
    margin-bottom:5%
}
.thingsTitle span {
    color:#11abb0;
    transition:all .7s linear;
    -webkit-transition:all .7s linear;
    -moz-transition:all .7s linear;
    -o-transition:all .7s linear
}
.thingsTitle span:hover {
    color:#fff;
    cursor:pointer;
    background-color:#11abb0;
    transition:all .7s linear;
    -webkit-transition:all .7s linear;
    -moz-transition:all .7s linear;
    -o-transition:all .7s linear
}
.sideThings h1 {
    padding-top:50%;
    color:#000;
    padding-bottom:5%;
    text-align:center;
    font-weight:normal;
    letter-spacing:1px;
    font-size:2.7em
}
.sideThings ul li,
.sideThings ul li a {
    color:#000;
    cursor:pointer;
    font-weight:bold;
    font-family:'proximaNova-regular',
    sans-serif;
    font-size:1.1em;
    padding:5%;
    transition:all .5s linear;
    -webkit-transition:all .5s linear;
    -moz-transition:all .5s linear;
    -o-transition:all .5s linear
}
.sideThings ul li:hover,
.sideThings ul li a:hover {
    color:#fc6900;
    cursor:pointer;
    background-color:#e9e9e9;
    transition:all .5s linear;
    -webkit-transition:all .5s linear;
    -moz-transition:all .5s linear;
    -o-transition:all .5s linear
}
.sideThings ul li i {
    padding-right:10%
}
#processing {
    width:100%;
    height:100%;
    margin-left:5%;
    margin-top:5%
}
.summaryTitle {
    font:60px/1.1em"proximaNova-regular",
    sans-serif;
    color:#fff;
    text-align:left
}
.summaryTitle i {
    color:gray
}
.summaryList {
    color:#fff
}
.summaryList ul li {
    font:19px/36px'opensans-regular',
    sans-serif;
    padding-top:10px;
    border-color:transparent;
    border-radius:4px;
    border-style:solid;
    border-width:1px
}
.summaryList ul li strong {
    font:19px/36px'opensans-regular',
    sans-serif;
    color:#11abb0
}
.summaryList ul li i {
    padding-right:10px;
    background-color:none;
    color:#fff
}
.border-right {
    border-right-color:gray;
    border-right-style:solid;
    border-right-width:1px;
    padding-right:2%;
    margin-left:0;
    padding-left:0
}
.subHeadIcon {
    color:gray;
    padding-top:5%;
    padding-left:20%
}
.tgl {
    display:none
}
.tgl,
.tgl:after,
.tgl:before,
.tgl *,
.tgl *:after,
.tgl *:before,
.tgl+.tgl-btn {
    box-sizing:border-box
}
.tgl::-moz-selection,
.tgl:after::-moz-selection,
.tgl:before::-moz-selection,
.tgl *::-moz-selection,
.tgl *:after::-moz-selection,
.tgl *:before::-moz-selection,
.tgl+.tgl-btn::-moz-selection {
    background:none
}
.tgl::selection,
.tgl:after::selection,
.tgl:before::selection,
.tgl *::selection,
.tgl *:after::selection,
.tgl *:before::selection,
.tgl+.tgl-btn::selection {
    background:none
}
.tgl+.tgl-btn {
    outline:0;
    display:block;
    width:4em;
    height:2em;
    position:relative;
    cursor:pointer;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
}
.tgl+.tgl-btn:after,
.tgl+.tgl-btn:before {
    position:relative;
    display:block;
    content:"";
    width:50%;
    height:100%
}
.tgl+.tgl-btn:after {
    left:0
}
.tgl+.tgl-btn:before {
    display:none
}
.tgl:checked+.tgl-btn:after {
    left:50%
}
.tgl-flat+.tgl-btn {
    padding:2px;
    -webkit-transition:all .2s ease;
    transition:all .2s ease;
    background:#fff;
    border:4px solid #f8a1f6;
    border-radius:10%
}
.tgl-flat+.tgl-btn:after {
    -webkit-transition:all .2s ease;
    transition:all .2s ease;
    background:#f98ef7;
    content:"";
    border-radius:8%
}
.tgl-flat:checked+.tgl-btn {
    border:4px solid #46a4f3
}
.tgl-flat:checked+.tgl-btn:after {
    left:50%;
    background:#46a4f3
}
label.tgl-btn {
    margin-left:1%;
    margin-right:1%
}
input[type=range] {
    -webkit-appearance:none
}
input[type=range]:focus {
    outline:none
}
input[type=range]::-webkit-slider-runnable-track {
    width:100%;
    height:10px;
    cursor:ew-resize;
    box-shadow:0 2px 5px rgba(0,
    0,
    0,
    .25) inset;
    background:#888;
    border-radius:5%;
    border:0 solid #000101
}
input[type=range]::-webkit-slider-thumb {
    box-shadow:1px 1px 5px rgba(0,
    0,
    0,
    .45),
    1px 1px 5px #0d0d0d;
    border:0 solid #000;
    height:20px;
    width:20px;
    border-radius:5%;
    background:#11abb0;
    cursor:ew-resize;
    -webkit-appearance:none;
    margin-top:-5px
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background:#888
}
input[type=range]::-moz-range-track {
    width:100%;
    height:10px;
    cursor:ew-resize;
    box-shadow:0 2px 5px rgba(0,
    0,
    0,
    .25) inset;
    background:#888;
    border-radius:5%;
    border:0 solid #000101
}
input[type=range]::-moz-range-thumb {
    box-shadow:1px 1px 5px rgba(0,
    0,
    0,
    .45),
    1px 1px 5px #0d0d0d;
    border:0 solid #000;
    height:20px;
    width:20px;
    border-radius:5%;
    background:#11abb0;
    cursor:ew-resize
}
input[type=range]::-ms-track {
    width:100%;
    height:10px;
    cursor:ew-resize;
    background:transparent;
    border-color:transparent;
    border-width:39px 0;
    color:transparent
}
input[type=range]::-ms-fill-lower {
    background:#888;
    border:0 solid #000101;
    border-radius:5%;
    box-shadow:0 2px 5px rgba(0,
    0,
    0,
    .25) inset
}
input[type=range]::-ms-fill-upper {
    background:#888;
    border:0 solid #000101;
    border-radius:5%;
    box-shadow:0 2px 5px rgba(0,
    0,
    0,
    .25) inset
}
input[type=range]::-ms-thumb {
    box-shadow:1px 1px 5px rgba(0,
    0,
    0,
    .45),
    1px 1px 5px #0d0d0d;
    border:none;
    height:20px;
    width:20px;
    border-radius:5%;
    background:#11abb0;
    cursor:ew-resize
}
input[type=range]:focus::-ms-fill-lower {
    background:#888
}
input[type=range]:focus::-ms-fill-upper {
    background:#888
}
@-webkit-keyframes thumb {
    0% {
        -webkit-transform:scale(1.1)
    }
    50% {
        -webkit-transform:scale(.9)
    }
    100% {
        -webkit-transform:scale(1.1)
    }
}
@-moz-keyframes thumb {
    0% {
        -moz-transform:scale(1.1)
    }
    50% {
        -moz-transform:scale(.9)
    }
    100% {
        -moz-transform:scale(1.1)
    }
}
@-o-keyframes thumb {
    0% {
        -o-transform:scale(1.1);
    }
    50% {
        -o-transform:scale(.9);
    }
    100% {
        -o-transform:scale(1.1);
    }
}
@keyframes thumb {
    0% {
        transform:scale(1.1)
    }
    50% {
        transform:scale(.9)
    }
    100% {
        transform:scale(1.1)
    }
}
.pulsate:hover {
    cursor:pointer;
    -webkit-animation-name:thumb;
    -webkit-animation-duration:200ms;
    -webkit-transform-origin:50% 50%;
    -webkit-animation-iteration-count:5;
    -webkit-animation-timing-function:linear;
    -moz-animation-name:thumb;
    -moz-animation-duration:200ms;
    -moz-transform-origin:50% 50%;
    -moz-animation-iteration-count:5;
    -moz-animation-timing-function:linear;
    -o-animation-name:thumb;
    -o-animation-duration:200ms;
    -o-transform-origin:50% 50%;
    -o-animation-iteration-count:5;
    -o-animation-timing-function:linear;
    animation-name:thumb;
    animation-duration:200ms;
    transform-origin:50% 50%;
    animation-iteration-count:5;
    animation-timing-function:linear
}
.Scontainer {
    z-index:1;
    position:relative;
    background-color:#2b2b2b;
    padding-top:120px;
    text-align:center;
    height:100%
}
.Scontainer p {
    color:#fff
}
.Scontainer>h1 {
    margin:40px 0;
    font-size:40px;
    line-height:40px;
    font-weight:bold;
    text-shadow:0 1px 1px #888
}
.Scontainer>a {
    text-decoration:none;
    color:#fff;
    margin:0 10px
}
#work1,
#work2,
#work3,
#work4,
#work5,
#life1,
#life2,
#life3,
#life4,
#life5,
#web1,
#web2,
#web3,
#web4,
#web5,
#like1,
#like2,
#like3,
#like4,
#like5,
#hate1,
#hate2,
#hate3,
#hate4,
#hate5 {
    text-align:center;
    color:#fff;
    font-size:2em;
    font-family:'proximaNova-regular',
    sans-serif
}
.btn {
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    position:relative;
    display:inline-block;
    padding:10px 20px;
    height:50px;
    background-color:#666;
    border-radius:30px;
    -moz-border-radius:30px;
    -webkit-border-radius:30px;
    line-height:30px;
    font-size:16px;
    font-weight:bold;
    text-shadow:0 1px 1px #888
}
a.btn span.btn {
    position:absolute;
    top:4px;
    left:0;
    z-index:-1;
    width:100%;
    background-color:#444
}
.btn:active,
.btn:active>span.btn {
    top:2px
}
.btn.active,
.btn.active>span.btn {
    top:2px
}
.btn-small {
    height:30px;
    font-size:12px;
    line-height:10px
}
a.btn-small span.btn {
    height:30px
}
.menu {
    width:100%;
    position:fixed;
    height:100px;
    background-color:#fff;
    top:0;
    left:0;
    z-index:99;
    margin-top:49px
}
.menu .slider {
    position:relative;
    left:10%;
    width:80%;
    text-align:center
}
.slider ul li a:after {
    content:attr(data-menu)
}
.menu .slider .bar,
.menu .slider .bar .before {
    height:2px;
    transition:.5s;
    -webkit-transition:.5s;
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px
}
.menu .slider .bar {
    position:relative;
    left:3px;
    width:80%
}
.menu .slider .bar .before {
    width:100px;
    float:left;
    position:relative;
    left:-3px
}
.menu .slider .bar a.knob {
    position:absolute;
    top:-5px;
    left:0;
    margin:0;
    display:block;
    width:10px;
    height:10px;
    background-color:#11abb0;
    border-radius:2px;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    transition:.5s;
    -webkit-transition:.5s
}
.menu ul {
    height:100%;
    display:inline-block;
    margin:20px 0 15px 0
}
.menu ul li {
    margin:0 40px;
    font-size:12px;
    font-weight:bold;
    float:left
}
.menu ul li a {
    color:#000;
    margin:0;
    text-transform:uppercase
}
.menu ul li.active {
    color:#f06000
}
.menu ul li a:hover {
    color:#f06000
}
#footerSection {
    width:100%!important;
    background-color:#000;
    text-align:center
}
.colorText {
    color:#f06000
}
#aboutMe,
#aboutMe h2 {
    padding-top:5%;
    color:#000;
    font-family:'proximaNova-regular',
    sans-serif
}
#aboutMe h1 {
    padding-top:1%;
    padding-bottom:1%;
    font-size:4em;
    color:#000;
    font-family:'proximaNova-regular',
    sans-serif;
    text-align:center
}
.aboutAns h2 {
    text-align:center
}
.textOnWhite {
    color:#11abb0
}
.textOnWhite:hover {
    color:#fff;
    cursor:pointer;
    background-color:#444
}
.aboutAns {
    align-content:center;
    margin-bottom:5%
}
.qBox div {
    font-size:1.1em;
    font-family:'proximaNova-regular' sans-serif
}
.qBox div:hover,
.qBox div:hover h2 {
    background-color:#dcdcdc;
    border:thin;
    border-color:#dcdcdc;
    border-radius:2%
}
.quizHeaderText {
    font-family:'positiva',
    sans-serif;
    font-size:6em;
    color:#f06000
}
.goDown span {
    color:#000;
    margin-top:50px;
    margin-bottom:50px;
    margin-left:50%
}
#quizContent h2 {
    padding-bottom:2%;
    padding-top:2%;
    text-align:center;
    font-family:'positiva',
    sans-serif;
    font-size:3em;
    color:#000
}
.avatars div {
    display:inline-block;
    padding-left:1%;
    padding-right:1%;
    transition:all 300ms ease-out
}
.avatars img:hover {
    cursor:pointer;
    filter:"progid:DXImageTransform.Microsoft.Dropshadow(OffX=4, OffY=4, Color='#444')";
    -ms-filter:"progid:DXImageTransform.Microsoft.Dropshadow(OffX=4, OffY=4, Color='#444')";
    -webkit-filter:drop-shadow(4px 4px 6px rgba(0,
    0,
    0,
    .5));
    filter:drop-shadow(4px 4px 6px rgba(0,
    0,
    0,
    .5))
}
.setProfilePic {
    transition:all 400ms ease-in;
    background-color:#f8f5bb;
    box-shadow:1px 1px 15px #888;
    overflow:hidden;
    height:180px;
    border:dashed;
    border-color:#fa6600;
    border-radius:3%
}
#quizForm div {
    font-family:'rabiohead',
    sans-serif;
    font-size:1.5em;
    color:#000
}
#msgText h4,
#msgText i {
    color:#f06000;
    font-family:'rabiohead',
    sans-serif;
    font-size:.6em
}
.inlineDivs {
    display:inline-flex;
    margin-bottom:1%;
    margin-top:1%
}
#QuizheadLine {
    display:inline-flex
}
.inlineDivs div,
.inlineDivs input {
    margin-right:2%;
    margin-left:2%
}
#quizGender {
    display:none
}
#quizForm i {
    cursor:pointer
}
#ageBar,
.gender,
.gender i {
    align-items:center;
    margin-left:1%;
    margin-right:1%
}
input.radio:empty {
    display:none
}
input.radio:empty~label {
    position:relative;
    float:left;
    line-height:2.5em;
    text-indent:3.25em;
    margin-top:2em;
    cursor:pointer;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
}
input.radio:empty~label:before {
    position:absolute;
    display:block;
    top:0;
    bottom:0;
    left:0;
    content:'';
    width:2.5em;
    background:#d1d3d4;
    border-radius:3px 0 0 3px
}
input.radio:hover:not(:checked)~label:before {
    content:'?';
    text-indent:.9em;
    color:#c2c2c2
}
input.radio:hover:not(:checked)~label {
    color:#888
}
input.radio:checked~label:before {
    content:'?';
    text-indent:.9em;
    color:#9ce2ae;
    background-color:#4dcb6d
}
input.radio:checked~label {
    color:#777
}
input.radio:focus~label:before {
    box-shadow:0 0 0 3px #999
}
.optionsHeadertext {
    color:#11abb0;
    font-family:'rabiohead',
    sans-serif;
    align-content:center;
    vertical-align:middle;
    text-align:center;
    font-size:2.5em
}
.emailSendQuestion {
    padding-top:2%;
    text-align:left;
    font-family:'positiva',
    sans-serif;
    font-size:3em;
    color:#000
}
#options {
    align-items:center
}
.switch {
    cursor:pointer;
    display:inline-flex;
    padding-bottom:20px
}
.switch>.emailCheckboxText {
    padding-left:30px;
    line-height:50px;
    color:#11abb0;
    font-family:'rabiohead',
    sans-serif;
    vertical-align:middle;
    font-size:2.5em
}
.cmn-toggle {
    position:absolute;
    margin-left:-9999px;
    visibility:hidden
}
.cmn-toggle+label {
    display:block;
    position:relative;
    cursor:pointer;
    outline:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
}
input.cmn-toggle-yes-no+label {
    padding:2px;
    width:70px;
    height:50px
}
input.cmn-toggle-yes-no+label:before,
input.cmn-toggle-yes-no+label:after {
    display:block;
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    color:#fff;
    font-family:"opensans-bold",
    sans-serif;
    font-size:1em;
    font-weight:bold;
    text-align:center;
    line-height:50px
}
input.cmn-toggle-yes-no+label:before {
    background-color:#d41e1e;
    content:attr(data-off);
    -webkit-transition:-webkit-transform .5s;
    -moz-transition:-moz-transform .5s;
    -o-transition:-o-transform .5s;
    transition:transform .5s;
    -webkit-backface-visibility:hidden;
    -moz-backface-visibility:hidden;
    -ms-backface-visibility:hidden;
    -o-backface-visibility:hidden;
    backface-visibility:hidden
}
input.cmn-toggle-yes-no+label:after {
    background-color:#42cc1d;
    content:attr(data-on);
    -webkit-transition:-webkit-transform .5s;
    -moz-transition:-moz-transform .5s;
    -o-transition:-o-transform .5s;
    transition:transform .5s;
    -webkit-transform:rotateY(180deg);
    -moz-transform:rotateY(180deg);
    -ms-transform:rotateY(180deg);
    -o-transform:rotateY(180deg);
    transform:rotateY(180deg);
    -webkit-backface-visibility:hidden;
    -moz-backface-visibility:hidden;
    -ms-backface-visibility:hidden;
    -o-backface-visibility:hidden;
    backface-visibility:hidden
}
input.cmn-toggle-yes-no:checked+label:before {
    -webkit-transform:rotateY(180deg);
    -moz-transform:rotateY(180deg);
    -ms-transform:rotateY(180deg);
    -o-transform:rotateY(180deg);
    transform:rotateY(180deg)
}
input.cmn-toggle-yes-no:checked+label:after {
    -webkit-transform:rotateY(0);
    -moz-transform:rotateY(0);
    -ms-transform:rotateY(0);
    -o-transform:rotateY(0);
    transform:rotateY(0)
}
@media only screen and (max-width: 1350px) {
    header .banner-text h1 {
        font:72px/1.1em'proximaNova-bold',
        sans-serif;
        letter-spacing:-1px;
        margin:0 auto 12px auto
    }
    .slider {
        left:0;
        width:100%;
        height:60%
    }
    .slider ul li a:after {
        display:none
    }
    .slider .bar a.knob {
        top:-40px!important
    }
    .slider .bar .before {
        top:-35px!important
    }
}
@media only screen and (max-width: 1024px) {
    header .banner-text h1 {
        font:80px/1.1em'proximaNova-bold',
        sans-serif;
        letter-spacing:-1px;
        margin:0 auto 12px auto
    }
}
@media only screen and (max-width: 900px) {
    header .banner {
        padding-bottom:12px
    }
    header .banner-text h1 {
        font:78px/1.1em'proximaNova-bold',
        sans-serif;
        letter-spacing:-1px
    }
    header .banner-text h3 {
        font:17px/1.9em'proximaNova-regular',
        serif;
        width:80%
    }
    header .banner-text hr {
        width:65%;
        margin:12px auto
    }
    #nav-wrap {
        font:11px'opensans-bold',
        sans-serif;
        letter-spacing:1.5px
    }
    .descriptionResume {
        display:none
    }
    #about .profile-pic {
        width:114px;
        height:114px;
        margin-left:12px
    }
    #about .contact-details {
        width:50%
    }
    #about .download {
        width:50%
    }
    #resume h1 {
        font:16px/24px'opensans-bold',
        sans-serif
    }
    #resume .main-col {
        padding-right:5%
    }
    #testimonials .header-col h1:before {
        font-size:66px;
        line-height:66px
    }
    #testimonials blockquote p {
        font-size:22px;
        line-height:46px
    }
    #call-to-action .header-col h1:before {
        font-size:66px;
        line-height:66px
    }
    #contact .section-head {
        margin-bottom:30px
    }
    #contact .header-col h1:before {
        font-size:66px;
        line-height:66px
    }
    #contact .section-head p.lead {
        font:17px/33px opensans-light,
        sans-serif
    }
}
@media only screen and (max-width: 767px) {
    .descriptionResume {
        display:none
    }
    .blackNav {
        display:none
    }
    #nav-wrap {
        font:12px'opensans-bold',
        sans-serif;
        background:transparent!important;
        letter-spacing:1.5px;
        width:auto;
        position:fixed;
        top:0;
        right:0
    }
    #nav-wrap>a {
        width:48px;
        height:48px;
        text-align:left;
        background-color:#cc5200;
        position:relative;
        border:none;
        float:right;
        font:0/0 a;
        text-shadow:none;
        color:transparent;
        position:relative;
        top:0;
        right:30px
    }
    #nav-wrap>a:before,
    #nav-wrap>a:after {
        position:absolute;
        border:2px solid #fff;
        top:35%;
        left:25%;
        right:25%;
        content:''
    }
    #nav-wrap>a:after {
        top:60%
    }
    #nav-wrap:not(:target)>a:first-of-type,
    #nav-wrap:target>a:last-of-type {
        display:block
    }
    #nav-wrap ul#nav {
        height:auto;
        display:none;
        clear:both;
        width:auto;
        float:right;
        position:relative;
        top:12px;
        right:0
    }
    #nav-wrap:target>ul#nav {
        display:block;
        padding:30px 20px 48px 20px;
        background:#1f2024;
        margin:0 30px;
        clear:both
    }
    ul#nav li {
        display:block;
        height:auto;
        margin:0 auto;
        padding:0 4%;
        text-align:left;
        border-bottom:1px solid #2d2e34;
        border-bottom-style:dotted
    }
    ul#nav li a {
        display:block;
        margin:0;
        padding:0;
        margin:12px 0;
        line-height:16px;
        border:none
    }
    header .banner {
        padding-bottom:12px;
        padding-top:6px
    }
    header .banner-text h1 {
        font:68px/1.1em'proximaNova-regular',
        sans-serif
    }
    header .banner-text h3 {
        font:16px/1.9em'proximaNova-regular',
        serif;
        width:85%
    }
    header .banner-text hr {
        width:80%;
        margin:18px auto
    }
    header .social {
        margin:18px 0 24px 0;
        font-size:24px;
        line-height:36px
    }
    header .social li {
        margin:0 10px
    }
    header .scrolldown {
        display:none
    }
    #about .profile-pic {
        display:none
    }
    #about .download .button {
        width:100%;
        text-align:center;
        padding:15px 20px
    }
    #about .main-col {
        padding-right:30px
    }
    #resume .header-col {
        padding-top:0;
        margin-bottom:48px;
        text-align:center
    }
    #resume h1 {
        letter-spacing:3px
    }
    #resume .main-col {
        padding-right:30px
    }
    #resume h3,
    #resume .info {
        text-align:center
    }
    .bars {
        width:100%
    }
    #portfolio-wrapper .columns {
        margin-bottom:40px
    }
    .popup-modal {
        max-width:85%
    }
    .flex-control-nav {
        text-align:center;
        margin-left:-30px
    }
    #contact {
        padding-bottom:66px
    }
    #contact .section-head {
        margin-bottom:12px
    }
    #contact .section-head h1 {
        font:16px/24px'opensans-bold',
        sans-serif;
        text-align:center;
        margin-bottom:30px;
        text-shadow:0 1px 3px rgba(0,
        0,
        0,
        1)
    }
    #contact h1 span {
        display:block
    }
    #contact .header-col {
        padding-top:0
    }
    #contact .header-col h1:before {
        content:none
    }
    #contact .section-head p.lead {
        text-align:center
    }
    #contact label {
        float:none;
        width:100%
    }
    #contact input,
    #contact textarea,
    #contact select {
        margin-bottom:6px;
        width:100%
    }
    #contact button.submit {
        margin:30px 0 24px 0
    }
    #message-warning,
    #message-success {
        width:100%;
        margin-left:0
    }
    footer .copyright li:before {
        content:none
    }
    footer .copyright li {
        margin-right:12px
    }
    footer .social-links {
        font-size:22px
    }
    footer .social-links li {
        margin-left:18px
    }
    #go-top {
        margin-left:-22px
    }
    #go-top a {
        width:54px;
        height:54px;
        font-size:18px;
        line-height:54px
    }
}
@media only screen and (max-width: 480px) {
    .descriptionResume {
        display:none
    }
    #nav-wrap ul#nav {
        width:auto;
        float:none
    }
    header .banner {
        padding-top:24px
    }
    header .banner-text h1 {
        font:40px/1.1em'proximaNova-regular',
        sans-serif;
        margin:0 auto 24px auto
    }
    header .banner-text h3 {
        font:14px/1.9em'proximaNova-regular',
        sans-serif;
        width:90%
    }
    header .social {
        font-size:20px
    }
    header .social li {
        margin:0 6px
    }
    footer .social-links {
        font-size:20px
    }
    footer .social-links li {
        margin-left:14px
    }
}
