﻿<p id="shortAddressCard" class="address" title="Contact me for something specific or just to say HI!">
    <span style="color:white;">First Name Last Name</span><span class="dot">.</span><br>
    <span>Address<span class="dot">.</span></span><br>
    <span><span class="fa fa-mobile fa-2x"></span><a title="Call me; Click will open your default calling application" target="_blank" href="tel:PhoneNumber">PhoneNumber</a></span><br>
    <span><span class="fa fa-envelope-o fa-lg"></span><a title="Drop a line; will open in a new tab" target="_blank" href="#">email address</a></span><br>
</p>
