﻿
    <div class="row">

        <div id="go-top"><a class="smoothscroll" title="Back to Top"><span class="fa fa-hand-o-up"></span></a></div>

        <div id="footerSection" class="twelve columns">
            <ul class="footer-menu" id="legalFooter">
                <li><a href="@Url.Action("Legal","Home")">Privacy Policy</a></li>
                <li><a href="@Url.Action("Legal","Home")">Disclaimer</a></li>
                <li><a href="@Url.Action("Legal","Home")">Terms and Conditions</a></li>
                <li><a href="@Url.Action("Legal","Home")">Legal Information</a></li>
            </ul>
        </div>
    </div>
