﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title iamkc.info</title>
    <script>var pageName = '@ViewBag.pageName';</script>

    @Styles.Render("~/bundles/css") 
    @Scripts.Render("~/bundles/modernizr")
    
</head>
<body>

    <nav id="nav-wrap">
        <a class="mobile-btn" href="#nav-wrap" title="Show navigation">Show navigation</a>
        <a class="mobile-btn" href="#" title="Hide navigation">Hide navigation</a>

        <div class="blackNav"></div>
        <ul id="nav" class="nav">
            <li class="current"><a id="homeLink" class="smoothscroll" href="#home">Home</a></li>
            <li><a id="aboutLink" href="@Url.Action("About", "Home")">About</a></li>
            <li><a id="resumeLink" href="@Url.Action("Resume","Home")">Resume</a></li>
            <li><a id="skillsLink" href="@Url.Action("Skills","Home")">Skills</a></li>
            <li><a id="worksLink" href="@Url.Action("Works","Home")">Works</a></li>
            <li><a id="thingsLink" href="@Url.Action("Things","Home")">5 Things</a></li>
            <li><a id="contactFormClick" class="smoothscroll" href="#contact">Contact</a></li>
        </ul> <!-- end #nav -->

    </nav> <!-- end #nav-wrap -->

    <div class="container body-content">
        @RenderBody()
           
        <footer>
        @Html.Partial("_Footer")
        </footer> <!-- Footer End-->
    </div>
    @Scripts.Render("~/bundles/jquery", "~/bundles/js")
    @RenderSection("scripts", required: false)
</body>
</html>
