﻿<section id="aboutMe" class="row">
    <div class="twelve columns">
        <h1><span class="colorText">About</span> me<span class="dot">.</span></h1>
    </div>

    <div class="qBox">
        
    </div>
    <hr />
    <div class="aboutAns">
        
    </div>

    <div class="goDown">
        <a class="smoothscroll" href="#quiz"><span class="fa fa-hand-o-down fa-3x"></span></a>
    </div>
    <hr />
</section>

<section id="quiz">
    
</section>