﻿<header id="home">
    <div class="row banner">
        <div class="blackBox"></div>
        <div id="aboveBlurDiv" class="banner-text">
            <h1 class="responsive-headline colorDot" id="headLineHome">Website BIG Headline<span class="dot">.</span></h1>
            <h3>
                Details about the website on the home page.
            </h3>
            <hr style="color:white;" />
            <ul class="social">
                Contact or social links.
            </ul>
        </div>
    </div>  
            
    <p class="scrolldown">
        <a class="smoothscroll" href="#contact"><span class="fa fa-hand-o-down"></span></a>
    </p>

</header>

<section id="contact">
    <div class="row section-head">
        <div class="two columns header-col">
           <h3 title="Drop a Line" id="emailFormTitle"><span>Contact Section</h3>
        </div>
        <div class="ten columns">
            <p class="lead">
                Contact Details/Description
            </p>
        </div>
    </div>
    <div class="row">
        <div class="eight columns">
            <form method="post" id="contactForm" name="contactForm">
                <fieldset>
                    <div>
                        <label for="contactName">Name <span class="required">*</span></label>
                        <input type="text" value="" size="35" id="contactName" name="contactName">
                    </div>

                    <div>
                        <label for="contactEmail">Email <span class="required">*</span></label>
                        <input type="text" value="" size="35" id="contactEmail" name="contactEmail">
                    </div>

                    <div>
                        <label for="contactSubject">Subject</label>
                        <input type="text" value="" size="35" id="contactSubject" name="contactSubject">
                    </div>

                    <div>
                        <label for="contactMessage">Message <span class="required">*</span></label>
                        <textarea cols="50" rows="5" id="contactMessage" name="contactMessage"></textarea>
                    </div>

                    <div>
                        <p id="contactErrorMsg" class="mfp-hide">Please enter valid Name and email address.</p>
                        <button type="submit" title="Click to Send the message" class="submit">Send</button>
                    </div>
                </fieldset>
            </form>
            
            <div id="message-warning"> Error</div>
            
            <div id="message-success">
                Success
            </div>

        </div>

        <aside class="four columns footer-widgets">
            <div class="widget widget_contact">
                Contact Details
            </div>
        </aside>
    </div>
</section>
