﻿<div class="allLegal">
    <aside>
        <ul class="legalNav">
            <li><a href="#TnC">Terms & Conditions</a></li>
        </ul>
        <div>Scroll for info <span class="fa fa-long-arrow-down"></span></div>
    </aside>
    <div id="allLegalInfo">
        <section id="TnC" class="row">
                <div class="twelve columns">
                    <h2>Terms and Conditions for Usage</h2>
                    <p>
                       Legal Text goes here.
                    </p>
                </div>
        </section>
    </div>
</div>