﻿<div class="menu">
    <div class="frostedBack"></div>
    <div class="slider">
        <ul>
            <li class="category active"><a href="#overview" data-menu=" Menu 1">Menu 1</a></li>
            <li class="category"><a href="#drive" data-menu=" Menu 2">Menu 2</a></li>
            
        </ul>
        <div class="bar">
            <div class="before"></div>
            <a class="knob"></a>
            <div class="after"></div>
        </div>
    </div>
</div>

<div class="colorBkg">
    <section id="overview" class="Scontainer">
        <div id="landingResume">
            <div class="row">
                <div id="resumeText" class="nine columns main-col">
                    <h1 class="resumeH2 colorDot">Menu 1 Details</h1>
                    <p class="descriptionResume">
                        Text for Menu Item 1
                    </p> 
                </div>
            </div>
        </div>
    </section>

    <section id="drive" class="Scontainer">
        <div id="driveDiv" class="row">
            <span id="driveText" class="responsive-headline colorDot">Menu 2 Headline for Section<span class="dot">.</span></span>
        </div>
        <div id="additionalDrive" class="row">
            <div class="nine columns descriptionResume">
                <p class="lead">
                    Text for Menu Item 2
                </p>
            </div> 
        </div>
    </section>
</div>