﻿<section id="intro" class="row">

    <div class="row skill">
        <div class="two columns header-col">
            <h1>
                <span>Dashboard page</span><br/>
            </h1> 
        </div>

        <div class="ten columns main-col">
            <p>
                Page description
            </p>

            <div class="six columns">
                <div class="bars">
                    <ul class="skills">
                        <li><span class="bar-expand per100 barOrange"><strong>10 out of 10</strong></span><em>Meter 1</em></li>
                       
                    </ul>
                </div>
            </div>
            <div class="six columns">
                <div class="bars">
                    <ul class="skills">
                        <li><span class="bar-expand per90 barAquaMarine"><strong>9 out of 10</strong></span><em>Meter 2</em></li>
                       
                    </ul>
                </div>
            </div>
        </div> 
    </div>

<div class="goDown">
    <a class="smoothscroll" href="#SnW"><span class="fa fa-hand-o-down fa-3x"></span></a>
</div>
    
<hr />

<section id="SnW" class="row">
    <div class="row skill">
        <div class="twelve columns header-col">
            <h1>
                <span>Comparison Chart<span class="dot">.</span></span>
            </h1>
        </div>

        <div class="twelve columns main-col">
            <p>
                Comparison Descriptio
			</p>
        </div>

        <div class="twelve columns">
            <div id="sDiv" class="five columns">
                <div class="headItem">
                    <span>Chart A</span>
                    <br/>
                </div>
                <div class="lister">
                    <ul class="strength">
                        <li>Chart Item 1</li>
                       
                    </ul>
                </div>
            </div>
           
            <div id="wDiv" class="five columns">
                <div class="headItem">
                    <span>Chart B</span>
                    <br/>
                </div>
                <div class="lister">
                    <ul class="weakness">
                        <li>Chart Item 2</li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</section>