﻿<div id="thingsPage" class="row">

    <div id="leftSideNav" class="two columns">
        <aside class="sideThings">
            <div class="header-col" title="Click items below to navigate">
                <h1 class="colorDot">Photo Gallery/Portfolio page</h1>
            </div>
            <ul>
                <li><a href="#intro" class="smoothscroll"><i class="fa fa-code fa-fw"></i> Works</a></li>
                </ul>
        </aside>
    </div>

    <div class="ten columns">
        <section class="sectioned" id="intro">
            <div>
                <h1 class="thingsTitle">Works <span>Work 1</span></h1>

                <div class="bgrid-quarters s-bgrid-thirds cf">

                    <div class="columns portfolio-item">
                        <div class="item-wrap">
                            <a href="#work1" title="">
                                <img alt="" src="~/images/portfolio/softwareTesting.jpg">
                                <div class="overlay">
                                </div>
                                <div class="link-icon"><i class="fa fa-desktop"></i><br />Text 1</div>
                            </a>
                        </div>
                        <div class="portfolio-item-meta">
                            <p>Work # 1</p>
                            <h5>Work Name 1</h5>
                        </div>
                        <div id="work1" class="mfp-hide"><i class="fa fa-desktop"></i><br />Text 1
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>
</div>