﻿<div class="worksPage">
    <section class="animationHead">
        <div class="row">
            <div class="coffee two columns">
                <span class="steam">?¿</span>
                <img src="~/images/coffee_cup.png" />
            </div>
            <div class="ten columns">
                <h2 class="resumeH2 colorDot">Projects<span class="dot">.</span></h2>
                <div>
                    <p class="dot">
                        Page details here
                    </p>
                    <p>
                       text<span class="dot">.</span>
                    </p>
                    <p>
                        <span class="fa fa-user-secret"></span> If the coffee ain't steaming in the cup above you're in the wrong browser. Supported browsers are Google Chrome 33 and up, Mozilla Firefox 24 and up and IE 9 and above (should work on the latest Safari/Opera browser as well)<span class="dot">.</span>
                    </p>
                </div>
            </div>
        </div>
        <br />
       
    </section>

    <section id="portfolio">
        <div class="row">
            <div class="twelve columns collapsed">
                <h1>Check Out My Projects<span class="dot">.</span></h1>

                <!-- portfolio-wrapper -->
                <div id="portfolio-wrapper" class="bgrid-quarters s-bgrid-thirds cf">

                    <div class="columns portfolio-item">
                        <h3 class="worksTitle">name</h3>
                        <div class="item-wrap">
                            <a href="#modal-01" title="">
                                <img alt="" src="~/images/works/clockModal.jpg">
                                <div class="overlay">
                                    <div class="portfolio-item-meta">
                                        <h5>name</h5>
                                        <p>project details</p>
                                    </div>
                                </div>
                                <div class="link-icon"><i class="icon-plus"></i></div>
                            </a>

                        </div>
                    </div> <!-- item end -->

                </div> <!-- portfolio-wrapper end -->

            </div> <!-- twelve columns end -->
            <!-- Modal Popup
             --------------------------------------------------------------- -->

            <div id="modal-01" class="popup-modal mfp-hide">

                <img class="scale-with-grid" src="~/images/works/bigImages/Clock.jpg" alt="Linear Clock">

                <div class="description-box">
                    <h4>Project 1</h4>
                    <p>Test Project details.</p>
                    <span class="categories"><i class="fa fa-tag"></i>tag1, tag2</span>
                </div>

                <div class="link-box">
                    <a href="#" target="_blank">Details</a>
                    <a class="popup-modal-dismiss">Close</a>
                </div>

            </div><!-- modal-01 End -->

        </div> <!-- row End -->
    </section>

    <section>
        <div class="animationStrip">
            <div class="six columns">
                <div>
                    <span>What is good software?</span>
                </div>
                <div>
                    <span>One that </span>
                    <div class="changer">
                        <span>Connects.</span>
                        <span>Creates.</span>
                        <span>Optimizes.</span>
                        <span>Integrates.</span>
                        <span>Adapts.</span>
                        <span>Elevates.</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>